name: Rust
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  rust-fmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: rust/rustfmt

      - name: Run Rust fmt
        run: cargo fmt --all -- --check

  toml-fmt:
    name: taplo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install taplo
        run: |
          curl -L https://github.com/tamasfe/taplo/releases/latest/download/taplo-linux-x86_64.gz -o taplo.gz
          gunzip taplo.gz
          chmod +x taplo
          sudo mv taplo /usr/local/bin/

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: rust/taplo

      - name: Run TOML fmt
        run: taplo fmt --check

  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: rust/check

      - name: Run cargo check
        run: cargo check --workspace

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: rust/clippy

      - name: Build
        run: cargo build --workspace

      - name: Clippy
        run: cargo clippy --all-targets --all-features -- --deny warnings

  test-std:
    name: test-std
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: rust/test

      - name: Run tests
        run: cargo test --verbose

      - name: Run tests for share_x
        run: cargo test --verbose --no-default-features --features "std, share_x"

  test-nostd:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: rust/test

      - name: Run tests
        run: cargo test --verbose --no-default-features

  doc:
    name: doc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: rust/doc

      - name: Run cargo doc to check for warnings
        run: RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features

  coverage:
    name: coverage
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: llvm-tools-preview

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Run cargo-llvm-cov
        run: cargo llvm-cov --all-features --workspace --html --output-dir target/coverage

      - name: Upload coverage to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: target/coverage

  udeps:
    name: udeps
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: rust/udeps

      - name: Install cargo-udeps
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-udeps

      - name: Run cargo udeps
        run: cargo +nightly udeps --all-targets --workspace
